<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>User Info</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>Username</th>

            </tr>
            <th:block th:each="user : ${user}">
                <tr>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.username}"></td>
                </tr>
            </th:block>
        </table>

        <b>
            <input type="button" value="Logout"
                  onclick="window.location.href = '/logout'"
            />
        </b>
    </div>
</body>
</html>